%h1 Programs for #{@child.first_name} #{@child.last_name}

%table
  %tr
    %th
    %th
    %th

  - @programs.each do |program|
    %tr
      %td= program.name    
      %td= link_to 'Show', child_program_path(@child, program)
      %td= link_to 'Edit', edit_child_program_path(@child, program)
      %td= link_to 'Remove', child_program_path(@child, program), :method => :delete, :data => { :confirm => 'Are you sure?' }

  - if @programs.length == 0
    %p No programs found for #{@child.first_name}

%br
= link_to 'Create and Add New Program to ' + @child.first_name, new_child_program_path(@child)

%br
Add existing program to #{@child.first_name} + #{@child.last_name}
