%h1 Programs for #{@child.first_name} #{@child.last_name}

%table
  %tr
    %th
    %th
    %th

  - @programs.each do |program|
    %tr
      %td= program.name
      /%td= link_to 'Add to Child', add_child_program_path(@child, program)
      /%td= link_to 'Add to Child', program, :method => :add, :data => { :confirm => 'Are you sure?' }      
      %td= link_to 'Add', add_program_path(@child, program)
      /%td= link_to 'Show', program
      /%td= link_to 'Edit', edit_program_path(program)
      %td= link_to 'Remove', program, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Program', new_program_path
