%p#notice= notice

%h1 
  Program Details for #{@program.name}
%p
  Name: 
  = @program.name
%p
  Mastery Criteria: 
  = @program.mastery_criteria
%p
  SD: 
  = @program.sd  
%p
  CR: 
  = @program.cr
%p
  Stimuli: 
  = @program.stimuli 

%br
= link_to 'Show List of Programs', child_programs_path(@child)
%br
= link_to 'Edit', edit_child_program_path(@child,@program)

