%p#notice= notice

%h1 
  Program Details for #{@program.name}
%p
  Name: 
  = @program.name
%p
  SD: 
  = @program.sd  
%p
  CR: 
  = @program.cr
%p
  Stimuli: 
  = @program.stimuli 


= link_to 'Edit', edit_child_program_path(@child, @program)
\|
/= link_to 'Back', child_programs_path(@child)
