Logged in as: 
= current_user.first_name 
= current_user.last_name

= link_to 'Show Programs', programs_path
= link_to 'Filter Programs', search_path
= link_to 'Show Users', users_path
/= link_to 'Show Children', children_path
= link_to 'Edit My Profile', edit_user_path(current_user)
= link_to 'Sign Out', user_sessions_path, :method => :delete, :data => { :confirm => 'Are you sure?' }
